/* ==============================
Smalls devices (320px and larger)
================================= */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Color Variables */
:root {
  --periwinkle: #CCCCFF;
  --magnolia: #F0F0FF;
  --mintgreen: #CCFFFF;
  --gray: #777780;
  --coral: #FC8264;
  --tomate: #FF643E;
  --barnred: #771A03;
  --tiffanyblue: #97DEC9;
  --caribeancurrent: #1A6463;
  --midnightgreen: #103D3D;
  --russianviolet: #36013F;
  --melon: #FCBFAB;
  --black: #000000;
  --white: #fbfdfc;

  --palepurple: #efdeff;
  --yale-blue: #7390f9;
  --Hex: #d8e1fe;
  --aliceblue: #DEEFFF;
  --french: #D2F6F7;
  --yellow-bus: #FFF5D1;
}

body {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  color: var(--black);
}

h1 {
  color: var(--russian-violet);
  text-align: center;
  font-size: 2.13em;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  word-spacing: 1px;
  letter-spacing: 2px;
}

h2 {
  font-size: 1.88em;
  font-weight: 600;
  line-height: 1.125;
  font-family: "Playfair Display", sans-serif;
  color: var(--russian-violet);
  text-transform: uppercase;
}

h3 {
  font-size: 1.6em;
  font-weight: 500;
  line-height: 1.125;
  font-family: "Playfair Display", sans-serif;
  color: var(--barnred);
  border-radius: 2px;
  padding: 12px;
}

.h3about {
  background-color: transparent;
  text-align: left;
}

.h3timeline {
  background-color: transparent;
}

h4 {
  font-size: 1.1em;
  font-weight: 450;
  line-height: 1.125;
  font-family: "Playfair Display", sans-serif;
  color: var(--barnred);
  text-transform: none;
}

.eight h2 {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 18px 0;
  grid-gap: 16px;
  color: var(--russianviolet);
}

.eight h2:after,
.eight h2:before {
  content: " ";
  display: block;
  border-bottom: 2px solid var(--periwinkle);
}

.div .eight {
  position: relative;
  width: 30%;
  max-width: 500px;
  padding: 2em;
  margin: 1.5em auto;
}

/* Base styles for the heading */
.skills {
  text-align: left;
  position: relative;
  animation: colorChange 5s infinite;
  /* Apply the colorChange animation */
}

/* Buttons */
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--caribeancurrent);
  color: white;
  font-weight: 400;
  font-size: 15px;
  text-decoration: none !important;
  padding: 0px 24px;
  height: 40px;
  min-width: 64px;
  border-radius: 20px;
  box-sizing: border-box;
  transition: box-shadow 0.2s, background-color 0.2s;
  transition-property: opacity;
}

.button:hover,
.button:active {
  text-decoration: none;
  opacity: 0.8;
  background-color: white;
  border: 1px solid var(--tiffanyblue);
  color: var(--caribeancurrent);
  font-weight: 600;
}

/* Contact Button */
.button-contact {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--periwinkle);
  color: var(--black);
  font-weight: 800;
  font-size: 20px;
  text-decoration: none !important;
  padding: 0px 24px;
  height: 40px;
  min-width: 64px;
  border-radius: 20px;
  box-sizing: border-box;
  transition: box-shadow 0.2s, background-color 0.2s;
  transition-property: opacity;
}

.button-contact:hover,
.button-contact:focus {
  text-decoration: none;
  opacity: 0.8;
  background-color: black;
  color: var(--melon);
  text-decoration: none;
  border-color: var(--russianviolet);
}

/* Link Styles */
a {
  color: black;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

/* Social Icons */
.social-icons a {
  display: inline-block;
  padding: 8px;
  width: 50px;
  height: 50px;
  text-decoration: none;
  font-size: 32px;
  color: #110022;
}

/* Go to top arrow link */
#myBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: transparent;
  padding: 10px 15px;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-size: 1.5em;
}

#myBtn:hover {
  color: var(--black);
  text-decoration: none;
}

/* Layout styling */
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

img {
  width: 100%;
}

.center {
  text-align: center;
}

/* header */
header {
  background-color: var(--periwinkle);
  position: fixed;
  width: 100%;
  padding: 10px 0 4px;
  z-index: 999;
}

.germanpro {
  background-color: white;
  position: fixed;
  width: 100%;
  padding: 10px 0 4px;
  z-index: 999;
}

header .container {
  display: flex;
  align-items: left;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
}

/* CSS box shadow */
.css-box-shadow {
  border-radius: 3px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
}

.css-box-shadow.germanpro {
  background: #f5f5f5;
  /* light gray background */
  padding: 20px 0;
  transition: all 0.3s ease;
  box-shadow: 0 -4px 12px rgba(128, 128, 128, 0.1), 0 4px 12px rgba(128, 128, 128, 0.1);
  /* shadows on top and bottom */
}

.logo {
  max-width: 150px;
}

/* MENU */
.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle.responsive li {
  display: block;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  padding: 10px 0;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav>ul {
  margin: 0;
}

nav a {
  padding: 0 15px;
  text-transform: none;
  font-weight: 700;
  font-family: "Libre Baskerville", sans-serif;
  text-decoration: none;
  color: black;
}

nav ul li a {
  font-size: 16px;
}

nav a:visited {
  /* visited link */
  color: #110022;
}

nav a:active {
  color: var(--yale-blue);
}

nav a:hover,
nav a:focus {
  color: var(--russianviolet);
  font-family: "Libre Baskerville", sans-serif;
  text-decoration: underline var(--melon);
  font-size: 1.05em;
  background-color: transparent;
  padding: 0.1em 0.2em;
  box-decoration-break: clone;
  border-radius: 0.2em;
}

/* HERO SECTION */
#hero-section {
  background: #CCCCFF;
  background: -moz-linear-gradient(top, #CCCCFF 0%, #F0F0FF 0%, #FFFFFF 100%);
  background: -webkit-linear-gradient(top, #CCCCFF 0%, #F0F0FF 0%, #FFFFFF 100%);
  background: linear-gradient(to bottom, #CCCCFF 0%, #F0F0FF 0%, #FFFFFF 100%);
  padding: 20px 0;
}

#hero-section h1 {
  margin: 0;
  padding-top: 0.67em;
  text-align: left;
  color: var(--caribeancurrent);
  -webkit-text-stroke: 0.5px var(--tiffanyblue);
}

#gif {
  max-width: 250px;
  /* Set a maximum width */
  height: auto;
  display: block;
  filter: grayscale(100%);
  border-radius: 20px;
  margin: 20px auto;
}

.hero-section span {
  margin-top: 10px;
  text-transform: none;
  font-size: 0.7em;
  font-weight: normal;
  font-style: italic;
  font-family: "Playfair Display", serif;
  display: block;
  color: black;
  letter-spacing: normal;
  word-spacing: 1px;
  text-align: left;
  -webkit-text-stroke: 0;
}

/* Animation for ins elements within the h1 with class "hero-section h1" */
.hero-section.h1 ins {
  position: relative;
  display: inline-block;
  text-decoration: none;
  z-index: 2;
}

/* Pseudo-element for ins tags */
.hero-section.h1 ins::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 90%;
  background: var(--tiffanyblue);
  z-index: -1;
  animation: ins-animation 1s ease-out 0.8s forwards;
  border-radius: 8px;
  padding: 0 2px;
}

/* Keyframes for ins animation */
@keyframes ins-animation {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

.aboutme ins {
  font-weight: 500;
  font-size: 1.2em;
  background: -webkit-linear-gradient(#36013F, #103D3D);
  /* Gradient from yellow to orange */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline;
}

/* FLEX ITEMS */
.aboutme {
  padding: 0 20px;
  width: 100%;
  line-height: 1.7;
}

@media (min-width: 768px) {
  .container.gif {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  /* FLEX CONTAINER */
  .container.hero {
    display: flex;
  }

  .aboutme {
    flex-grow: 1;
    padding-left: 80px;
  }

  #gif {
    max-width: 530px;
    height: auto;
  }
}

/* PROJECTS card list projects */
.container .card-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

.card-list .card-item {
  background: white;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.04);
  list-style: none;
  cursor: pointer;
  text-decoration: none;
  border: 2px solid transparent;
  transition: border 0.5s ease;
}

.card-list .card-item:hover {
  border: 2px solid var(--midnightgreen);
}

.card-list .card-item img {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.card-list span {
  display: inline-block;
  background: var(--palepurple);
  margin-top: 12px;
  padding: 8px 15px;
  font-size: 0.75rem;
  border-radius: 50px;
  font-weight: 600;
}

.card-list .developer {
  background-color: var(--periwinkle);
  color: var(--russianviolet);
}

.card-list .designer {
  background-color: #D2F6F7;
  color: #205c20;
}

.card-list .editor {
  background-color: #D2F6F7;
  color: #205c20;
}

.card-item h3 {
  color: var(--midnightgreen);
  font-size: 1.438rem;
  margin-top: 28px;
  font-weight: 600;
}

.card-item .arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-35deg);
  height: 40px;
  width: 40px;
  color: #000;
  border: 1px solid #000;
  border-radius: 50%;
  margin-top: 40px;
  transition: 0.2s ease;
}

.card-list .card-item:hover .arrow {
  background: var(--midnightgreen);
  color: white;
}

@media screen and (min-width: 640px) {
  .container .card-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 980px) {
  .card-list {
    margin: 0 auto;
  }
}

/* WHAT I DO INDEX */
/* colums WHAT I DO*/
.text-contentindex {
  display: flex;
  flex-direction: column;
  /* Organiza los hijos en una fila */
  align-items: center;
  justify-content: center;
  height: 100%;
}

.services {
  border-radius: 50%;
  height: 140px;
  width: 140px;
}

.text-group {
  width: 75%;
  /* Set width to 80% of its container */
  margin: 0 auto;
  /* Center the .text-group horizontally in its container */
  text-align: center;
  /* Center the text within the .text-group */
  padding: 12px;
}

.custom-span {
  font-weight: 600;
  color: var(--periwinkle);
  font-size: 0.9em;
}

.service-item {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
}

/* MAIN */
main {
  padding-top: 108.8px;
}

/* TESTIMONIALS */
.container.testimonials {
  position: relative;
  width: 100%;
  min-height: 800px;
  /* cambiar para pantallas más grandes */
}

.container.testimonials .contents-wraper {
  width: 100%;
  min-height: 650px;
  margin: auto;
  text-align: center;
  border-radius: 2rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.h2-test {
  text-align: center;
}

.contents-wraper .testRow {
  width: 100%;
  min-height: inherit;
  position: relative;
  overflow: hidden;
}

.testRow .details {
  display: flex;
  flex-direction: column;
}

.testRow .testItem {
  width: 100%;
  height: 90%;
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.testRow .testItem:not(.active) {
  top: 0;
  left: -100%
}

.icon img {
  padding-top: 30px;
  max-width: 45px;
  display: block;
  margin: 0 auto;
}

.testRow .testItem .name {
  margin-bottom: calc(0.3rem);
  font-size: calc(1rem + 0.5vmin);
  letter-spacing: calc(0.1rem + 0.1vmin);
  font-weight: bold;
}

.testRow .testItem .job {
  margin-bottom: calc(0.7rem + 0.5vmin);
  color: black;
}

.testRow .testItem p {
  width: 90%;
  text-align: center;
  margin-bottom: calc(1rem);
  color: gray (92, 92, 92);
  line-height: 1.2;
  letter-spacing: 1px;
}

.contents-wraper .indicators {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  padding: 12px;
  cursor: pointer;
  padding-bottom: 30px;
}

.contents-wraper .indicators .dot {
  width: 20px;
  height: 20px;
  margin: 0px 3px;
  border: 3px solid var(--gray);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.contents-wraper .indicators .active {
  background-color: var(--melon);
}

@keyframes next1 {
  from {
    left: 0%;
  }

  to {
    left: -100%;
  }
}

@keyframes next2 {
  from {
    left: 100%;
  }

  to {
    left: 0%;
  }
}

@keyframes prev1 {
  from {
    left: 0%;
  }

  to {
    left: 100%;
  }
}

@keyframes prev2 {
  from {
    left: -100%;
  }

  to {
    left: 0%;
  }
}

@media (min-width: 390px) {

  .container.testimonials .contents-wraper {
    min-height: 550px;
  }
}

@media (min-width: 639px) {
  .container.testimonials {
    min-height: 0;
  }

  .container.testimonials .contents-wraper {
    min-height: 500px;
  }
}

@media (min-width: 800px) {
  .container.testimonials .contents-wraper {
    min-height: 400px;
  }
}

/* Untangled project page */
.germanapp {
  padding: 20px;
  border-radius: 20px;
  background-color: #ff720e;
}

.germanapp p {
  color: white;
  font-size: 22px;
}

.germanappproblem {
  padding: 30px;
  border-radius: 20px;
  background-color: #ECF0FF;
  flex: 0 0 50%;
  display: flex;
  /* Asegura que "theproblem" se expanda completamente en altura */
  flex-direction: column;
  justify-content: center;
}

.germandetail {
  padding: 20px;
  border-radius: 20px;
  border: 4px solid #ECF0FF;
  flex: 0 50%;
  display: flex;
  /* Asegura que "projectdetail" se expanda completamente en altura */
  flex-direction: column;
}

/* Untangled project page */
/* Intro*/
.content-wrapperintro {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-contentintro {
  flex: 20%;
  /* Takes up 30% of the container width */
  display: flex;
  justify-content: center;
  /* Center the image if the div has more space */
}

.text-content {
  flex: 70%;
  /* Takes up 70% of the container width */
  padding-left: 20px;
  /* Optional padding between image and text */
}

.centered-picture {
  display: flex;
  justify-content: center;
  /* Horizontally centers the content */
  align-items: center;
  height: 100%;
}

.project-image {
  max-width: 90%;
  height: auto;
}

.features {
  font-weight: 450;
}

.features-thanks {
  font-weight: 500;
  padding: 2px 4px;
  font-size: 1.5em;
}

.description {
  font-weight: 500;
  color: var(--yale-blue);
}

@media (max-width: 640px) {
  .content-wrapperintro {
    flex-direction: column;
    /* This will stack children vertically */
  }

  .image-contentintro,
  .text-content {
    width: 100%;
    /* Ensure both take up the full width of their container */
    margin: 0 auto;
    /* Optional: centers them if they are smaller than the container's width */
  }

  .project-logo {
    display: none;
  }
}

.aboutapp {
  padding: 20px;
  border-radius: 20px;
  border: 2px solid #f5f5f5;
}

.theproblem {
  padding: 30px;
  border-radius: 20px;
  background-color: #ECF0FF;
  flex: 0 0 50%;
  display: flex;
  /* Asegura que "theproblem" se expanda completamente en altura */
  flex-direction: column;
  justify-content: center;
}

.projectdetail {
  padding: 20px;
  border-radius: 20px;
  border: 2px solid #ECF0FF;
  flex: 0 50%;
  display: flex;
  /* Asegura que "projectdetail" se expanda completamente en altura */
  flex-direction: column;
  justify-content: center;
}

.introduction-wrap {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  /* Asegura que todos los hijos de introduction-wrap tengan la misma altura */
  gap: 12px;
}

@media (max-width: 889px) {
  .introduction-wrap {
    flex-direction: column;
    /* Change layout to columnar for screens less than 1000px */
  }
}

/* Style the tab */
.tab {
  display: grid;
  align-content: space-evenly;
  grid-template-columns: repeat(1, 1fr);
  /* One columns */
  gap: 10px
}

/* Style the buttons inside the tab */
.tab button {
  cursor: pointer;
  transition: 0.3s;
  color: var(--caribeancurrent);
  padding: 10px;
  border: 1px solid var(--tiffanyblue);
  border-radius: 5px;
  text-align: center;
  margin-right: 10px;
  font-size: 1.2em;
  margin-right: 10px;
  background-color: white;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: var(--caribeancurrent);
  color: white;
}

/* Create an active/current tablink class */
.tab button.active {
  color: white;
  background-color: var(--caribeancurrent);
  padding: 10px;
  border: 1px solid var(--caribeancurrent);
  border-radius: 5px;
  text-align: center;
  margin-right: 10px;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}

/* Style the buttons tab1 */
.tab1 {
  display: grid;
  align-content: space-evenly;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px
}

.tablinks {
  background-color: transparent;
  color: var(--barnred);
  border: 1px solid var(--melon); /* Corrected line */
  float: left;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1.5em;
  font-weight: 500;
  font-family: "Playfair Display", sans-serif;
  border-radius: 8px;
  padding: 12px;
  text-align: center;
}

/* Change background color of buttons on hover */
.tablinks:hover {
  background-color: var(--melon);
  border: none;
}

/* Create an active/current tablink class */
.tablinks.active {
  background-color: var(--melon);
  border: none;
}

@media screen and (min-width: 640px) {
  .tab {
    grid-template-columns: repeat(3, 1fr);
    /* Two columns */
  }
}

/* Case Study */
.userresearch {
  border: 2px solid var(--magnolia);
  padding: 30px;
  border-radius: 20px;
}

.divider {
  height: 4px;
  background-color: white;
  margin: 10px 0;
  border-radius: 30px;
}

.solution {
  border: 2px solid var(--tiffanyblue);
  padding: 30px;
  border-radius: 20px;
}

.identifying {
  border: 2px solid var(--yellow-bus);
  padding: 30px;
  border-radius: 20px;
}

.prototype {
  border: 2px solid var(--magnolia);
  padding: 30px;
  border-radius: 20px;
}

.testing {
  border: 2px solid var(--yellow-bus);
  background-color: white;
  padding: 20px;
  border-radius: 20px;
}

.results {
  border: 2px solid var(--magnolia);
  padding: 30px;
  border-radius: 20px;
}

.conclusion {
  border: 2px solid var(--tiffanyblue);
  padding: 30px;
  border-radius: 20px;
}

.uxdesign {
  border: 2px solid white;
  padding: 24px;
  border-radius: 20px;
}

.marketing {
  border: 2px solid white;
  border-radius: 20px;
  margin-top: 16px;
}

.time {
  border: 2px solid var(--tiffanyblue);
  padding: 30px;
  border-radius: 20px;
  margin-top: 20px;
}

.about {
  border: 2px solid var(--palepurple);
  padding: 30px;
  border-radius: 20px;
  margin-top: 20px;
}

/* Testing the solution */
/* Base styles for grid items */
.grid-container-usability {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.grid-item-usability {
  background-color: transparent;
  padding: 20px;
  border: 4px solid white;
  border-radius: 20px;
}

.grid-item-usability h4 {
  text-align: center;
}


/* Media query for smaller screens */
@media (max-width: 768px) {
  .grid-container-usability {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .grid-item-usability {
    padding: 10px;
  }
}

/* Media query for even smaller screens */
@media (max-width: 480px) {
  .grid-container-usability {
    grid-template-columns: 1fr;
  }
}

/* dddfss */
.zoom-container {
  padding: 30px 0;
  /* 20px top and bottom, 0 left and right */
}

.wireframes img {
  max-width: 80%;
  height: auto;
}


/* Style the close button */
.topright {
  float: right;
  cursor: pointer;
  font-size: 24px;
  background-color: var(--midnightgreen);
  color: var(--tiffanyblue);
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  margin-right: 5%;
  margin-bottom: 8%;
}

.topright:hover {
  background-color: var(--tiffanyblue);
  color: var(--midnightgreen);
}

.grid-participant {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  font-size: 0.8em;
}

/* thank you */
.foto-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 100px;
  padding: 20px;
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
}

.foto-item img {
  width: 80%;
  height: auto;
  border-radius: 5px;
  transition: transform 0.3s;
}

.foto-item:hover img {
  transform: scale(1.07);
}

.text-and-image-container {
  display: flex;
  align-items: center;
}

.text {
  flex: 1;
  padding-right: 20px;
}


/* My Role */
summary {
  border: 1px solid #000;
  padding: .75em 1em;
  padding-left: 1em;
  cursor: pointer;
  position: relative;
  padding-left: 20px;
}

/* QUOTES UNTANGLED*/
.container.quote {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
  border: solid 3px var(--periwinkle);
  padding: 45px 50px 25px 60px;
  background-color: white;
  border-radius: 10px;
}

.card-p {
  position: relative;
  border: solid 5px white;
  padding: 20px;
  background-color: transparent;
  border-radius: 10px;
}

.post-txt {
  font-size: 20px;
  margin-bottom: 0;
  justify-content: center;
}

.quote-img {
  position: absolute;
  top: 24px;
  left: 24px;
  width: 30px;
  height: 30px;
}

.nice-img {
  font-size: 20px;
  /* adjust as needed */
  margin-bottom: 10.5px;
}

/* FOOTER */
footer {
  background-color: transparent;
  padding: 20px 0;
}

.social-media {
  padding: 20px;
}

#mail {
  padding-top: 20px;
}

/* work section*/
#work-section .row {
  color: var(--periwinkle);
}

.grid-container-marketing {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}

.grid-container-ux {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  text-align: center;
}

.profilepic {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  padding-right: 24px;
}


/* about me page */
.beatriz-img {
  max-width: 150px;
  height: auto;
  border-radius: 20px;
  display: block;
  margin: auto;
  object-fit: contain;
}

/* animation about me */
del,
ins {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

del:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(50%);
  border-top: 1.5px solid var(--tomate);
  transform: rotateZ(-5deg);
  animation: del 0.9s ease-in;
}

ins:after {
  content: "";
  /* required property */
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: ins 1s ease-out;
  animation-delay: 0.8s;
  animation-fill-mode: forwards;
}

/* del animation */
@keyframes del {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

/* ins animation */
@keyframes ins {
  0% {
    width: 0;
    background: var(--yellow-bus);
    color: #000;
    z-index: -1;
  }

  100% {
    width: 100%;
    background: var(--yellow-bus);
    color: #000;
    z-index: -1;
  }
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  body {
    font-size: 17px;
  }

  header .container {
    flex-direction: row;
  }

  /* mavigation menu */
  .navtoggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  nav>ul {
    margin: 1em 0;
  }

  nav ul li {
    display: inline-block;
  }

  nav ul li a {
    font-size: 17px;
  }

  nav a:hover,
  nav a:focus {
    color: var(--russianviolet);
    font-family: "Libre Baskerville", sans-serif;
    text-decoration: none;
    font-size: 1.05em;
    background-color: var(--melon);
    padding: 0.1em 0.2em;
    box-decoration-break: clone;
    border-radius: 0.2em;
  }

  .logo {
    max-width: 190px;
  }

  .hero-section span {
    display: block;
  }

  /* colums index*/
  .col-md-6 {
    width: 50%;
  }

  .col-md-6 p {
    max-width: 230px;
    /* Cambia el valor según tus necesidades */
  }

  [class*="col-"] {
    float: left;
  }

  /* Column About me */
  .col-md-4 {
    width: 33.33%;
  }

  .col-md-8 {
    width: 66.66%;
    align-items: center;
    /* Vertically align to the middle */
    justify-content: center;
  }

  [class*="col-"] {
    float: left;
  }

  .row-skills::after {
    content: "";
    clear: both;
    display: table;
  }

  /* main */
  main {
    padding-top: 108.8px;
  }

  @keyframes float {
    0% {
      transform: translateY(0px);
    }

    50% {
      transform: translateY(-10px);
    }

    100% {
      transform: translateY(0px);
    }
  }

  /* About me page */
  .container.about-story {
    display: flex;
    align-items: stretch;
    /* Ensures all direct children are the full height of the parent container */
  }

  .about-button {
    font-size: 18px;
  }

  .beatriz-img {
    max-width: 300px;
  }

  .grid-container-marketing {
    grid-template-columns: repeat(2, 1fr);
  }

  .market {
    padding: 20px;
    max-height: 427px;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  header .container {
    flex-direction: row;
  }

  body {
    font-size: 18px;
  }

  .logo {
    max-width: 220px;
  }

  main {
    padding-top: 132.13px;
  }

  nav ul li a {
    font-size: 20px;
  }

  #hero-section {
    padding: 24px;
  }

  /* colums*/
  .col-md-6 p {
    max-width: 400px;
  }

  .iframe-container {
    width: 100%;
    height: 1000px;
  }

  .problem-section {
    padding-top: 8px;
  }

  ul.role {
    margin-left: 10px;
  }

  .about-button {
    font-size: 19px;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {

  body {
    font-size: 20px;
  }

  .logo {
    max-width: 300px;
  }

  main {
    padding-top: 161.2px;
  }

  ul li a {
    font-size: 24px;
  }

  .paragraph-participant {
    font-size: 18px;
    text-align: left;
  }

  .button {
    font-size: 20px;
  }

  .about-button {
    font-size: 20px;
  }
}

/* ==============================
Extra-large devices (1920px or larger)
================================= */
@media only screen and (min-width: 1920px) {
  .flex-container-participants {
    grid-template-columns: repeat(3, 1fr);
  }

  .paragraph-participant {
    font-size: 18px;
    text-align: center;
  }
}

/* Estilo para case study "GermanPro" */
.container.german {
  background: black;
  color: #fff;
  text-align: center;
  border: 20px solid #fff;
  border-radius: 30px;
}

.container.german h1 {
  color: var(--tomate);
}

.container.german a {
  color: white;
}

.container.img {
  color: white;
}


/* Estilo para case study "Untangled" */
/* Portada untangled*/
.container.intro {
  background: linear-gradient(to bottom, #F0F0FF, #CCCCFF, #97DEC9);
  text-align: center;
  border: 20px solid #fff;
  border-radius: 30px;
}

.banner-link-block {
  text-decoration: none;
  display: inline-block;
  margin-bottom: 20px;
  color: var(--black);
  /* Color del enlace */
}

.banner-link-block img {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.banner-content-wrap h1 {
  letter-spacing: 1px;
}

.banner-link-block {
  display: flex;
  /* Use flexbox to layout items horizontally */
  align-items: center;
  /* Vertically align items in the middle */
}

.banner-link-block img {
  margin-right: 10px;
  /* Add some margin to separate the image and text */
}

.intro span {
  display: inline-block;
  margin-top: 12px;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--gray);
}

/* My slogan */
@keyframes analyticalColorChange {
  0% {
    color: var(--russian-violet);
  }

  50% {
    color: var(--periwinkle);
  }

  100% {
    color: var(--english-violet);
  }
}

.analytical {
  font-weight: bold;
  animation: analyticalColorChange 3s infinite;
  display: inline-block;
}

/* contact */
.circle-wrapper {
  position: relative;
  width: 140px;
  height: 140px;
  float: left;
  margin: 10px;
}

.icon-hi {
  position: absolute;
  color: black;
  font-size: 18px;
  top: 70px;
  left: 70px;
  transform: translate(-50%, -50%);
}

.circle {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  padding: 2.5px;
  background-clip: content-box;
  animation: spin 10s linear infinite;
}

.circle-wrapper:active .circle {
  animation: spin 2s linear infinite;
}

.success {
  background-color: var(--palepurple);
  border: 2.5px dashed var(--palepurple);
}

@keyframes spin {
  100% {
    transform: rotateZ(360deg);
  }
}

.page-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* timeline */
.timeline {
  position: relative;
  padding: 0;
  list-style: none;
}

.timeline:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  /* Adjust this value if needed */
  width: 2px;
  margin-left: -1px;
  /* This centers the line if it's an even number of pixels wide */
  background-color: var(--melon);
  /* Timeline line color */
}

.timeline-event {
  margin-bottom: 20px;
  position: relative;
}

.timeline-event-icon {
  display: block;
  position: absolute;
  left: 20px;
  /* Aligns with the timeline line */
  top: 0;
  width: 40px;
  /* Icon size */
  height: 40px;
  /* Icon size */
  border-radius: 50%;
  background-color: #F2F2F2;
  /* Icon background color */
  text-align: center;
  line-height: 40px;
  /* Adjusts the line height to vertically center text/icon if needed */
  font-size: 16px;
  /* Icon text size */
}

.timeline-event-copy {
  padding: 15px;
  padding-left: 80px;
  /* Make sure this is enough to not overlap the icon */
  background-color: white;
  position: relative;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.timeline-event-thumbnail {
  color: #757575;
  font-weight: bold;
  margin-bottom: 5px;
}

.timeline-event p {
  margin-bottom: 0;
}

.timeline-event p+h4 {
  margin-top: 10px;
}

.timeline-event-copy a {
  color: var(--tomate);
  /* Link color */
  text-decoration: none;
}

.timeline-event-copy a:hover {
  text-decoration: underline;
}

@media (max-width: 767px) {
  .timeline:before {
    left: 20px;
  }

  .timeline-event-icon {
    left: 0;
  }

  .timeline-event-copy {
    padding-left: 60px;
    /* Adjust this as per the icon size + padding */
  }
}